.checkbox {
    .checkmark {
        width: 18px;
        height: 18px;
    }

    input {
        ~.checkmark {
            background-color: transparent;
            transition: background-color 120ms;
        }

        &:not(:disabled):checked~.checkmark {
            &.primary-color {
                background-color: var(--primary-color);
            }

            &.secondary-color {
                background-color: var(--secondary-color);
            }

            border-color: transparent;
            

            &:after {
                transform: rotate(45deg) scale(1);
            }
        }
    }

    .checkmark::after {
        left: 5px;
        top: 0px;
        width: 3px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(0deg) scale(0);
        transition: transform 120ms;
    }
}