html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}


* {
    box-sizing: border-box;
}


a {
    color: inherit;
}

.material-symbols-outlined {
    font-size: 20px;
}